<!-- Main -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $(".categories").click(function(){
      $("#categoriesShow").slideToggle("slow");
    });
    $(".distance").click(function(){
      $("#distanceShow").slideToggle("slow");
    });
    $(".location").click(function(){
      $("#locationShow").slideToggle("slow");
    });
  });
</script>
<div id="main">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="search">

        </div>
      </div>
    </div>
    <section>
      <%= button_to 'Add New Business', new_businessprofile_path, :method => :get %>

    </section>

    <br/>
          <br/>
      <br/>
      <div class="row uniform" id="categoriesShow" hidden>
        <div class="6u 12u$(xsmall)">
          <%= text_field_tag 'category_box',nil, placeholder: "Enter Category" %>
        </div>
        <div class="6u$ 12u$(xsmall)">
          <%= submit_tag 'Filter'%>
        </div>
      </div>
      <div class="row uniform" id="locationShow" hidden>
        <div class="6u 12u$(xsmall)">
          <%= text_field_tag 'category_box',nil, placeholder: "Enter City" %>
        </div>
        <div class="6u$ 12u$(xsmall)">
          <%= submit_tag 'Filter'%>
        </div>
      </div>
      <div class="row uniform" id="distanceShow" hidden>
        <div class="6u 12u$(xsmall)">
          <%= text_field_tag 'category_box',nil, placeholder: "Filter Distance" %>
        </div>
        <div class="6u$ 12u$(xsmall)">
          <%= submit_tag 'Filter'%>
        </div>
      </div>
    </section>
    <br/>
    <br/>
    <% @finalResult.each do |users| %>


        <p>
        <span class="image left">
          <%= image_tag("restaurant.jpg") %>
        </span>
          <b>Shop Name: <%= users["service_name"] %></b><br/>
          <b>Rating: </b>9.8/10<br/>
          <b>Address: </b><%= users["combinedAddress"] %><br/>
          <b>Phone Number: </b><%= users["phoneNo"] %><br/>
          <b>Time : </b><%= users["service_time"] %><br/>
          <b>Price: </b><%= users["service_price"] %><br/>
          <b>Description: </b><%= users["service_description"] %><br/>
          <%= link_to 'Edit', edit_businessprofile_path(users["object"]) %>
          <%= button_to 'Delete', businessprofile_path(users["object"]), :method => :delete, :confirm => 'Are you sure?' %>
          <br/>
        </p>
    <%end %>
  </div>
  <br/>
  <br/>
  <div class="center">
    <ul class="pagination">
      <li><a href="#">«</a></li>
      <li><a href="#">1</a></li>
      <li><a class="active" href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div>
</div>

