<!-- Main -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $(".categories").click(function(){
      $("#categoriesShow").slideToggle("slow");
    });
    $(".distance").click(function(){
      $("#distanceShow").slideToggle("slow");
    });
    $(".location").click(function(){
      $("#locationShow").slideToggle("slow");
    });
  });
</script>
<div id="main">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="search">

        </div>
      </div>
    </div>
    <section>
          <div class="row uniform">
            <div class="6u 12u$(xsmall)">
              <%= text_field_tag 'search_box',nil, placeholder: "Ajinkya Kulkarni" %>
            </div>
            <div class="6u$ 12u$(xsmall)">
              <%= submit_tag 'Search'%>
            </div>
          </div>
    </section>

    <br/>
    <header>
      <ul class="topnav" id="myTopnav">
        <li><a class="active">Filters: </a></li>
        <li><a href="#news">Price</a></li>
        <li><a href="#contact">A-Z</a></li>
        <li><a href="#about">Rating</a></li>
        <li class="location"><a>Location</a></li>
        <li class="distance"><a>Distance</a></li>
        <li class="categories"><a>Categories</a></li>
        <li class="icon">
          <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
        </li>
      </ul>
    </header>
    <section>
      <br/>
      <br/>
      <div class="row uniform" id="categoriesShow" hidden>
        <div class="6u 12u$(xsmall)">
          <%= text_field_tag 'category_box',nil, placeholder: "Enter Category" %>
        </div>
        <div class="6u$ 12u$(xsmall)">
          <%= submit_tag 'Filter'%>
        </div>
      </div>
      <div class="row uniform" id="locationShow" hidden>
        <div class="6u 12u$(xsmall)">
          <%= text_field_tag 'category_box',nil, placeholder: "Enter City" %>
        </div>
        <div class="6u$ 12u$(xsmall)">
          <%= submit_tag 'Filter'%>
        </div>
      </div>
      <div class="row uniform" id="distanceShow" hidden>
        <div class="6u 12u$(xsmall)">
          <%= text_field_tag 'category_box',nil, placeholder: "Filter Distance" %>
        </div>
        <div class="6u$ 12u$(xsmall)">
          <%= submit_tag 'Filter'%>
        </div>
      </div>
    </section>
    <br/>
    <br/>
      <p>
        <span class="image left">
          <%= image_tag("restaurant.jpg") %>
        </span>
        <b><h2>AJINKYA'S Restaurant</h2></b>
        <b>Rating: </b>9.8/10<br/>
        <b>Address: </b>91/B Preconco Colony, Annapurna Road, Indore<br/>
        <b>Phone Number: </b>+1 (319) 237 5472<br/>
        <b>Open Now</b><br/>
        <br/>
      </p>
  </div>
  <br/>
  <br/>
  <div class="center">
    <ul class="pagination">
      <li><a href="#">«</a></li>
      <li><a href="#">1</a></li>
      <li><a class="active" href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div>
</div>

