<!-- Main -->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>


    .center {
      margin-top:50px;
    }

    .modal-header {
      padding-bottom: 5px;
    }

    .modal-footer {
      padding: 0;
    }

    .modal-footer .btn-group button {
      height:40px;
      border-top-left-radius : 0;
      border-top-right-radius : 0;
      border: none;
      border-right: 1px solid #ddd;
    }

    .modal-footer .btn-group:last-child > button {
      border-right: 0;
    }


    .panel.with-nav-tabs .panel-heading{
      padding: 5px 5px 0 5px;
    }
    .panel.with-nav-tabs .nav-tabs{
      border-bottom: none;
    }
    .panel.with-nav-tabs .nav-justified{
      margin-bottom: -1px;
    }
    /********************************************************************/
    /*** PANEL DEFAULT ***/
    .with-nav-tabs.panel-default .nav-tabs > li > a,
    .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
      color: #777;
    }
    .with-nav-tabs.panel-default .nav-tabs > .open > a,
    .with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
    .with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
    .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
      color: #777;
      background-color: #ddd;
      border-color: transparent;
    }
    .with-nav-tabs.panel-default .nav-tabs > li.active > a,
    .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
    .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
      color: #555;
      background-color: #fff;
      border-color: #ddd;
      border-bottom-color: transparent;
    }
    .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
      background-color: #f5f5f5;
      border-color: #ddd;
    }
    .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
      color: #777;
    }
    .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
    .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
      background-color: #ddd;
    }
    .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
    .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
    .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
      color: #fff;
      background-color: #555;
    }
    /********************************************************************/
    /*** PANEL PRIMARY ***/
    .with-nav-tabs.panel-primary .nav-tabs > li > a,
    .with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
      color: #fff;
    }
    .with-nav-tabs.panel-primary .nav-tabs > .open > a,
    .with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
    .with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
      color: #fff;
      background-color: #3071a9;
      border-color: transparent;
    }
    .with-nav-tabs.panel-primary .nav-tabs > li.active > a,
    .with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
      color: #428bca;
      background-color: #fff;
      border-color: #428bca;
      border-bottom-color: transparent;
    }
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
      background-color: #428bca;
      border-color: #3071a9;
    }
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
      color: #fff;
    }
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
      background-color: #3071a9;
    }
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
      background-color: #4a9fe9;
    }
    /********************************************************************/
    /*** PANEL SUCCESS ***/
    .with-nav-tabs.panel-success .nav-tabs > li > a,
    .with-nav-tabs.panel-success .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-success .nav-tabs > li > a:focus {
      color: #3c763d;
    }
    .with-nav-tabs.panel-success .nav-tabs > .open > a,
    .with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
    .with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
    .with-nav-tabs.panel-success .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-success .nav-tabs > li > a:focus {
      color: #3c763d;
      background-color: #d6e9c6;
      border-color: transparent;
    }
    .with-nav-tabs.panel-success .nav-tabs > li.active > a,
    .with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
    .with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
      color: #3c763d;
      background-color: #fff;
      border-color: #d6e9c6;
      border-bottom-color: transparent;
    }
    .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
      background-color: #dff0d8;
      border-color: #d6e9c6;
    }
    .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
      color: #3c763d;
    }
    .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
    .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
      background-color: #d6e9c6;
    }
    .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
    .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
    .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
      color: #fff;
      background-color: #3c763d;
    }
    /********************************************************************/
    /*** PANEL INFO ***/
    .with-nav-tabs.panel-info .nav-tabs > li > a,
    .with-nav-tabs.panel-info .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > li > a:focus {
      color: #31708f;
    }
    .with-nav-tabs.panel-info .nav-tabs > .open > a,
    .with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
    .with-nav-tabs.panel-info .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > li > a:focus {
      color: #31708f;
      background-color: #bce8f1;
      border-color: transparent;
    }
    .with-nav-tabs.panel-info .nav-tabs > li.active > a,
    .with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
      color: #31708f;
      background-color: #fff;
      border-color: #bce8f1;
      border-bottom-color: transparent;
    }
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
      background-color: #d9edf7;
      border-color: #bce8f1;
    }
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
      color: #31708f;
    }
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
      background-color: #bce8f1;
    }
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
      color: #fff;
      background-color: #31708f;
    }
    /********************************************************************/
    /*** PANEL WARNING ***/
    .with-nav-tabs.panel-warning .nav-tabs > li > a,
    .with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
      color: #8a6d3b;
    }
    .with-nav-tabs.panel-warning .nav-tabs > .open > a,
    .with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
    .with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
    .with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
      color: #8a6d3b;
      background-color: #faebcc;
      border-color: transparent;
    }
    .with-nav-tabs.panel-warning .nav-tabs > li.active > a,
    .with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
    .with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
      color: #8a6d3b;
      background-color: #fff;
      border-color: #faebcc;
      border-bottom-color: transparent;
    }
    .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
      background-color: #fcf8e3;
      border-color: #faebcc;
    }
    .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
      color: #8a6d3b;
    }
    .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
    .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
      background-color: #faebcc;
    }
    .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
    .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
    .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
      color: #fff;
      background-color: #8a6d3b;
    }
    /********************************************************************/
    /*** PANEL DANGER ***/
    .with-nav-tabs.panel-danger .nav-tabs > li > a,
    .with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
      color: #a94442;
    }
    .with-nav-tabs.panel-danger .nav-tabs > .open > a,
    .with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
    .with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
    .with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
      color: #a94442;
      background-color: #ebccd1;
      border-color: transparent;
    }
    .with-nav-tabs.panel-danger .nav-tabs > li.active > a,
    .with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
    .with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
      color: #a94442;
      background-color: #fff;
      border-color: #ebccd1;
      border-bottom-color: transparent;
    }
    .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
      background-color: #f2dede; /* bg color */
      border-color: #ebccd1; /* border color */
    }
    .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
      color: #a94442; /* normal text color */
    }
    .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
    .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
      background-color: #ebccd1; /* hover bg color */
    }
    .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
    .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
    .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
      color: #fff; /* active text color */
      background-color: #a94442; /* active bg color */
    }

  </style>


</head>
<body>

<div id="main">
  <div>
    <div class="container" style="width: 100%">

      <div class="row">
        <div class="col-md-6" style="width: 100%">
          <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tabusers" data-toggle="tab">Users</a></li>
                <li><a href="#tabvendors" data-toggle="tab">Vendors</a></li>
                <li><a href="#tabadmins" data-toggle="tab">Admins</a></li>
                <li><a href="#tabvendorrequest" data-toggle="tab">Vendor Requests</a></li>
                <li><a href="#tabservices" data-toggle="tab">Services</a></li>
                <li><a href="#tabcategories" data-toggle="tab">Categories</a></li>
                <li class="dropdown">
                  <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
                    <li><a href="#tab4default" data-toggle="tab">Default 5</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="panel-body">
              <div class="tab-content">
                <div class="tab-pane fade in active" id="tabusers">
                  <table>
                    <tr>
                      <td><b>Name</b></td>
                      <td><b>Email</b></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  <% @users.each do |user| %>
                      <% if user.service_roles_id == 1 and user.user_status != "Pending" %>
                        <tr>
                          <td>
                            <%= user.user_firstname  %> <%= user.user_lastname  %>
                          </td>
                          <td>
                            <%= user.user_email %>
                          </td>
                          <td>
                            <button data-toggle="modal" data-target="#squarespaceModal-<%= user.id %>" style="height: auto; width: auto">Details</button>
                            <!-- line modal -->
                            <div class="modal fade" id="squarespaceModal-<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" style="height: auto"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <h3 class="modal-title" id="lineModalLabel">Details</h3>
                                  </div>
                                  <div class="modal-body">

                                    <div class="form-group">
                                      <label>Name</label>
                                      <%= user.user_firstname  %> <%= user.user_lastname  %>

                                    </div>
                                    <div class="form-group">
                                      <label>Email</label>
                                      <%= user.user_email %>
                                    </div>
                                    <div class="form-group">
                                      <label>Status</label>
                                      <%= user.user_status %>
                                    </div>
                                    <div class="form-group">
                                      <label>Information</label>
                                      <%= user.user_info %>
                                    </div>
                                    <div class="form-group">
                                      <label>Address</label>
                                    </div>

                                  </div>
                                  <div class="modal-footer">
                                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                      <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"  role="button" style="height: auto">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <% if user.user_status == "Active" %>
                                <%= link_to "De-activate", admindeactivate_path(user) %>
                            <% else %>
                                <%= link_to "Activate", adminactivate_path(user)%>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                  <% end %>
                  </table>
                </div>
                <div class="tab-pane fade" id="tabvendors">
                  <table>
                    <tr>
                      <td><b>Name</b></td>
                      <td><b>Email</b></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <% @users.each do |user| %>
                        <% if user.service_roles_id == 2 and user.user_status != "Pending" %>
                            <tr>
                              <td>
                                <%= user.user_firstname  %> <%= user.user_lastname  %>
                              </td>
                              <td>
                                <%= user.user_email %>
                              </td>
                              <td>
                                <button data-toggle="modal" data-target="#squarespaceModal-<%= user.id %>" style="height: auto; width: auto">Details</button>
                                <!-- line modal -->
                                <div class="modal fade" id="squarespaceModal-<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" style="height: auto"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h3 class="modal-title" id="lineModalLabel">Details</h3>
                                      </div>
                                      <div class="modal-body">

                                        <div class="form-group">
                                          <label>Name</label>
                                          <%= user.user_firstname  %> <%= user.user_lastname  %>

                                        </div>
                                        <div class="form-group">
                                          <label>Email</label>
                                          <%= user.user_email %>
                                        </div>
                                        <div class="form-group">
                                          <label>Status</label>
                                          <%= user.user_status %>
                                        </div>
                                        <div class="form-group">
                                          <label>Information</label>
                                          <%= user.user_info %>
                                        </div>
                                        <div class="form-group">
                                          <label>Address</label>
                                        </div>

                                      </div>
                                      <div class="modal-footer">
                                        <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                          <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default" data-dismiss="modal"  role="button" style="height: auto">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <% if user.user_status == "Active" %>
                                    <%= link_to "De-activate", admindeactivate_path(user) %>
                                <% else %>
                                    <%= link_to "Activate", adminactivate_path(user)%>
                                <% end %>
                              </td>
                            </tr>
                        <% end %>
                    <% end %>
                  </table>
                </div>
                <div class="tab-pane fade" id="tabadmins">
                  <table>
                    <tr>
                      <td><b>Name</b></td>
                      <td><b>Email</b></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <% @users.each do |user| %>
                        <% if user.service_roles_id == 0 and user.user_status != "Pending" %>
                            <tr>
                              <td>
                                <%= user.user_firstname  %> <%= user.user_lastname  %>
                              </td>
                              <td>
                                <%= user.user_email %>
                              </td>
                              <td>
                                <button data-toggle="modal" data-target="#squarespaceModal-<%= user.id %>" style="height: auto; width: auto">Details</button>
                                <!-- line modal -->
                                <div class="modal fade" id="squarespaceModal-<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" style="height: auto"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h3 class="modal-title" id="lineModalLabel">Details</h3>
                                      </div>
                                      <div class="modal-body">

                                        <div class="form-group">
                                          <label>Name</label>
                                          <%= user.user_firstname  %> <%= user.user_lastname  %>

                                        </div>
                                        <div class="form-group">
                                          <label>Email</label>
                                          <%= user.user_email %>
                                        </div>
                                        <div class="form-group">
                                          <label>Status</label>
                                          <%= user.user_status %>
                                        </div>
                                        <div class="form-group">
                                          <label>Information</label>
                                          <%= user.user_info %>
                                        </div>
                                        <div class="form-group">
                                          <label>Address</label>
                                        </div>

                                      </div>
                                      <div class="modal-footer">
                                        <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                          <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default" data-dismiss="modal"  role="button" style="height: auto">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div></td>

                              <td>
                                <% if user.user_status == "Active" %>
                                    <%= link_to "De-activate", admindeactivate_path(user) %>
                                <% else %>
                                    <%= link_to "Activate", adminactivate_path(user)%>
                                <% end %>
                              </td>
                            </tr>
                        <% end %>
                    <% end %>
                  </table>
                </div>
                <div class="tab-pane fade" id="tabvendorrequest">
                  <table>
                    <tr>
                      <td><b>Name</b></td>
                      <td><b>Email</b></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <% @users.each do |user| %>
                        <% if user.service_roles_id == 1 and user.user_status == "Pending" %>
                            <tr>
                              <td>
                                <%= user.user_firstname  %> <%= user.user_lastname  %>
                              </td>
                              <td>
                                <%= user.user_email %>
                              </td>
                              <td>
                                <button data-toggle="modal" data-target="#squarespaceModal-<%= user.id %>" style="height: auto; width: auto">Details</button>
                                <!-- line modal -->
                                <div class="modal fade" id="squarespaceModal-<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" style="height: auto"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h3 class="modal-title" id="lineModalLabel">Details</h3>
                                      </div>
                                      <div class="modal-body">

                                        <div class="form-group">
                                          <label>Name</label>
                                          <%= user.user_firstname  %> <%= user.user_lastname  %>

                                        </div>
                                        <div class="form-group">
                                          <label>Email</label>
                                          <%= user.user_email %>
                                        </div>
                                        <div class="form-group">
                                          <label>Status</label>
                                          <%= user.user_status %>
                                        </div>
                                        <div class="form-group">
                                          <label>Information</label>
                                          <%= user.user_info %>
                                        </div>
                                        <div class="form-group">
                                          <label>Address</label>
                                        </div>

                                      </div>
                                      <div class="modal-footer">
                                        <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                          <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default" data-dismiss="modal"  role="button" style="height: auto">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <%= link_to "Accept" , admin_path(user)%>
                              </td>
                              <td>
                                <%= link_to "Reject", adminreject_path(user)%>
                              </td>
                            </tr>
                        <% end %>
                    <% end %>
                  </table>
                </div>
                <div class="tab-pane fade" id="tabcategories">
                  <table>
                    <tr>
                      <td><b>Category</b></td>
                      <td><b>Details</b></td>
                      <td></td>
                    </tr>
                    <% @category.each do |category| %>
                        <tr>
                              <td>
                                <%= category.service_name  %>
                              </td>
                              <td>
                                <%= category.service_information %>
                              </td>

                              <td>
                                <% if category.service_status =="Active" %>
                                  <%= link_to "De-activate" , admindeactivatecategory_path(category)%>
                                <%else%>
                                    <%= link_to "Activate", adminactivatecategory_path(category)%>
                                <% end %>
                              </td>
                            </tr>
                    <% end %>
                  </table>
                </div>
                <div class="tab-pane fade" id="tabservices">
                  <div class="container" style="width: 100%">

                    <div class="row">
                      <div class="col-md-6" style="width: 100%">
                        <div class="panel with-nav-tabs panel-default">
                          <div class="panel-heading">
                            <ul class="nav nav-tabs">
                              <li class="active"><a href="#tabavailableServices" data-toggle="tab">Available Services</a></li>
                              <li><a href="#tabservicerequests" data-toggle="tab">Service Requests</a></li>
                            </ul>
                          </div>
                          <div class="panel-body">
                            <div class="tab-content">
                              <div class="tab-pane fade in active" id="tabavailableServices">
                                <table>
                                  <tr>
                                    <td><b>Name</b></td>
                                    <td><b>Info</b></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <% @users.each do |user| %>
                                      <% if user.service_roles_id == 1 and user.user_status != "Pending" %>
                                          <tr>
                                            <td>
                                              <%= user.user_firstname  %> <%= user.user_lastname  %>
                                            </td>
                                            <td>
                                              <%= user.user_email %>
                                            </td>
                                            <td>
                                              <button data-toggle="modal" data-target="#squarespaceModal-<%= user.id %>" style="height: auto; width: auto">Details</button>
                                              <!-- line modal -->
                                              <div class="modal fade" id="squarespaceModal-<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" style="height: auto"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                      <h3 class="modal-title" id="lineModalLabel">Details</h3>
                                                    </div>
                                                    <div class="modal-body">

                                                      <div class="form-group">
                                                        <label>Name</label>
                                                        <%= user.user_firstname  %> <%= user.user_lastname  %>

                                                      </div>
                                                      <div class="form-group">
                                                        <label>Email</label>
                                                        <%= user.user_email %>
                                                      </div>
                                                      <div class="form-group">
                                                        <label>Status</label>
                                                        <%= user.user_status %>
                                                      </div>
                                                      <div class="form-group">
                                                        <label>Information</label>
                                                        <%= user.user_info %>
                                                      </div>
                                                      <div class="form-group">
                                                        <label>Address</label>
                                                      </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                      <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                                        <div class="btn-group" role="group">
                                                          <button type="button" class="btn btn-default" data-dismiss="modal"  role="button" style="height: auto">Close</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </td>
                                            <td>
                                              <% if user.user_status == "Active" %>
                                                  <%= link_to "De-activate", admindeactivate_path(user) %>
                                              <% else %>
                                                  <%= link_to "Activate", adminactivate_path(user)%>
                                              <% end %>
                                            </td>
                                          </tr>
                                      <% end %>
                                  <% end %>
                                </table>
                              </div>
                              <div class="tab-pane fade" id="tabservicerequests">
                                <table>
                                  <tr>
                                    <td><b>Name</b></td>
                                    <td><b>Email</b></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <% @users.each do |user| %>
                                      <% if user.service_roles_id == 2 and user.user_status != "Pending" %>
                                          <tr>
                                            <td>
                                              <%= user.user_firstname  %> <%= user.user_lastname  %>
                                            </td>
                                            <td>
                                              <%= user.user_email %>
                                            </td>
                                            <td>
                                              <button data-toggle="modal" data-target="#squarespaceModal-<%= user.id %>" style="height: auto; width: auto">Details</button>
                                              <!-- line modal -->
                                              <div class="modal fade" id="squarespaceModal-<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" style="height: auto"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                      <h3 class="modal-title" id="lineModalLabel">Details</h3>
                                                    </div>
                                                    <div class="modal-body">

                                                      <div class="form-group">
                                                        <label>Name</label>
                                                        <%= user.user_firstname  %> <%= user.user_lastname  %>

                                                      </div>
                                                      <div class="form-group">
                                                        <label>Email</label>
                                                        <%= user.user_email %>
                                                      </div>
                                                      <div class="form-group">
                                                        <label>Status</label>
                                                        <%= user.user_status %>
                                                      </div>
                                                      <div class="form-group">
                                                        <label>Information</label>
                                                        <%= user.user_info %>
                                                      </div>
                                                      <div class="form-group">
                                                        <label>Address</label>
                                                      </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                      <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                                        <div class="btn-group" role="group">
                                                          <button type="button" class="btn btn-default" data-dismiss="modal"  role="button" style="height: auto">Close</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </td>
                                            <td>
                                              <% if user.user_status == "Active" %>
                                                  <%= link_to "De-activate", admindeactivate_path(user) %>
                                              <% else %>
                                                  <%= link_to "Activate", adminactivate_path(user)%>
                                              <% end %>
                                            </td>
                                          </tr>
                                      <% end %>
                                  <% end %>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab5default">Default 5</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


</body>



