<!-- Main -->
<body>
<table>
  <tr>
    <th> Request ID</th>
    <th>Service ID</th>
    <th>User ID</th>
    <th></th>
    <th></th>
  </tr>
  <% @servicefixtures.each do |servicefixture| %>
      <% @serviceuser = servicefixture.service_user %>
      <% @service = servicefixture.service_service %>
      <tr>
        <td>
          <%= servicefixture.id  %>
        </td>
        <td>
          <%= @service.service_name  %>
        </td>
        <td>
          <%= @serviceInfo.service_user_email  %>
        </td>
        <td>
          <%= button_to "Accept",acceptRequestVendor_path(servicefixture["id"])%>
        </td>
        <td>
          <%= button_to "Reject",rejectRequestVendor_path(servicefixture["id"])%>
        </td>
      </tr>
  <%end%>
</table>
</body>
