<!-- Main -->
<div id="main">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="search">

        </div>
      </div>
    </div>
    <section>
      <%= form_tag :action => 'search' do %>
        <div class="row uniform">
          <div class="6u 12u$(xsmall)">
            <%= text_field_tag 'search_box',nil, placeholder: "Enter Search Items" %>
          </div>
          <div class="6u$ 12u$(xsmall)">
            <%= submit_tag 'Search'%>
          </div>
        </div>
      <% end %>
    </section>


    <header>
      <h1>This is ServicesNearBy, a place where you<br />
        can find services near you......</h1>

    </header>
    <section class="tiles">
      <% @counter = 1 %>
      <% @categories.each do |category| %>
          <article class="style<% @counter %>">
									<span class="image">
										<%= image_tag("pic0"+@counter.to_s+".jpg", :alt => "logo") %>
									</span>
            <a>
              <h2><%= category.service_name %></h2>
              <div class="content">
                <p><%= category.service_information %></p>
              </div>
            </a>
          </article>
          <% @counter = @counter + 1 %>
          <% if @counter == 10 %>
              <% @counter = 1 %>
          <% end %>
      <%end%>
    </section>
  </div>
</div>

