<!DOCTYPE html>
<html>
<head>
  <title>ServicesNearBy</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag('jquery.min.js') %>
  <%= javascript_include_tag('skel.min.js') %>
  <%= javascript_include_tag('util.js') %>
  <%= javascript_include_tag('main.js') %>
  <!--<script src="/assets/javascripts/jquery.min.js"></script>-->
  <!--<script src="/assets/javascripts/skel.min.js"></script>-->
  <!--<script src="/assets/javascripts/util.js"></script>-->
  <!--&lt;!&ndash;[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]&ndash;&gt;-->
  <!--<script src="/assets/javascripts/main.js"></script>-->
</head>
<body>
<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
  <% end %>
</div>
<div class="container">
</div>
<<<<<<< HEAD
<div id="wrapper">
  <!-- Header -->
  <header id="header">
    <div class="inner">
      <!-- Logo -->
      <a href="index.html" class="logo">
        <span class="symbol"><%= image_tag("logo.svg", :alt => "logo") %></span><span class="title">ServicesNearBy</span>
      </a>
      <!-- Nav -->
      <nav>
        <ul>
          <% if user_signed_in? %>
              <li>
                <%= link_to('Logout', destroy_user_session_path, class: 'button fit' ) %>
              </li>
          <% else %>
              <li>
                <%= link_to 'Login / Sign Up', new_user_registration_path, :method => :delete , class: 'button fit' %>
              </li>
          <% end %>
          <li><a href="#menu">Menu</a></li>
        </ul>
      </nav>
=======

    <div id="wrapper">
      <!-- Header -->
      <header id="header">

        <div class="inner">


          <!-- Logo -->
          <a class="logo">
            <span class="symbol"><%= image_tag("logo.svg", :alt => "logo") %></span><span class="title">ServicesNearBy</span>
          </a>

          <!-- Nav -->
          <nav>

            <ul>

              <% if user_signed_in? %>
                  <li>
                    <%= link_to('Logout', destroy_user_session_path, class: 'button fit' ) %>
                  </li>
              <% else %>
                  <li>
                    <%= link_to 'Login / Sign Up', new_user_registration_path, :method => :delete , class: 'button fit' %>
                  </li>
              <% end %>



              <% if session[:logged_user] != nil and (session[:roleid] == 3 or session[:roleid] == 2)%>
                <li><a href="#menu">Menu</a></li>
              <%end%>
            </ul>
          </nav>

        </div>
      </header>

      <!-- Menu -->

        <nav id="menu">

          <h2>Menu</h2>
          <ul>
            <li> <%= link_to('Home', welcome_index_path) %></li>
            <li><a>About Us</a></li>
            <li><a>Contact Us</a></li>
            <% if user_signed_in? %>
            <li><%= link_to "My Profile", myprofile_index_path %></li>
                <% @serviceuser = session[:logged_user]%>
                <%end%>
            <% if @serviceuser != nil and session[:roleid] == 2 %>
                <li><%= link_to "My Business Pages", businessprofile_index_path %></li>
                <li><%= link_to "Requests", servicerequestsvendor_path %></li>
            <% end %>
            <% if session[:logged_user] != nil and session[:roleid] == 3 %>
                <li><%= link_to "Request Vendor Profile", requestvendoraccount_path %></li>
            <% end %>
            <% if session[:logged_user] != nil and (session[:roleid] == 3 or session[:roleid] == 2)%>
                <li><%= link_to "View Your Services", userservices_path %></li>
            <%end%>

          </ul>
        </nav>



      <%= yield %>


      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <ul class="copyright">
            <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">SELT</a></li>
          </ul>
        </div>
      </footer>

>>>>>>> master
    </div>
  </header>
  <!-- Menu -->
  <% if session[:logged_user] != nil and session[:roleid] != 0 %>
      <nav id="menu">
        <h2>Menu</h2>
        <ul>
          <li> <%= link_to('Home', welcome_index_path) %></li>
          <li><a>About Us</a></li>
          <li><a>Contact Us</a></li>
          <li><%= link_to "My Profile", myprofile_myprofile_path %></li>
          <% if session[:logged_user] != nil and session[:roleid] == 2 %>
              <li><%= link_to "My Services", service_services_index_path  %></li>
          <% end %>
        </ul>
      </nav>
  <% end %>
  <%= yield %>
  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <ul class="copyright">
        <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">SELT</a></li>
      </ul>
    </div>
  </footer>
</div>
</body>
</html>